/* # is for ids btw */
#headline {
text-align: center;
font-size:25px ;
text-decoration: none;
position: relative;
top: 300px;
}
#vidplace{
  text-align: center;
  font-size:25px ;
  text-decoration: none;
  position: relative;
  top: 350px;

}
