/* # is for ids btw */
body{
  /*REMINDER ONLY THINGS THAT I WANT TO CHANGE FOR THE WHOLE PAGE GO HERE*/
}
#twitbutton{
  text-align: center;
  font-size:25px ;
  text-decoration: none;
  position: relative;
  top: 160px;
}
#twit{
  text-align: center;
  font-size:25px ;
  text-decoration: none;
  position: relative;
  top: 150px;
}
#headline {
font-weight:bold;
text-align: center;
font-size:30px ;
text-decoration: none;
position: relative;
top: 100;
}
#vidplace{
  text-align: center;
  font-size:25px ;
  text-decoration: none;
  position: relative;
  top: 220px;

}
#stylething{
  text-align: center;
  font-size:25px ;
  text-decoration: none;
  position: relative;
  top: 240px;
}
